{% extends "_layout.twig" %}

{% block css %}
    label { margin-top: 1em; }
    fieldset { border: 1px solid #DDD; padding: 1em; width: 300px; margin: auto; }
    fieldset img { display: block; margin: auto; width: 200px; }
{% endblock css %}

{% block main_content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Login to your account</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="post" action="/login">
                <fieldset>
                    <img src="/public/img/logo.jpg" alt="MVC Logo" />
                    <div class="input-group mb-3">
                        <label for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username" required="required">
                    </div>
                    <div class="input-group mb-3">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="password" required="required">
                    </div>
                    <div class="input-group mb-3">
                        <label for="submit">&nbsp;</label>
                        <input type="submit" name="submit" value="Login" class="btn btn-primary">
                    </div>
                    <hr/>
                    <p><a href="/login/forgot-password">I forgot my password.</a></p>
                    <p><a href="/register">Click here to register a new account.</a></p>
                </fieldset>
            </form>
		</div>
	</div>
</div>

{% endblock main_content %}