{% extends "_layout.twig" %}

{% block main_content %}
<h1>Reset password</h1>

    {% if not validateOk %}
        <div class="mb-3">
           <p>
               The password reset link you followed, is invalid or has expired.
               Please <a href="/login/forgot-password">request a new link.</a>
           </p>
        </div>
    {% endif %}

{% endblock %}