{% extends "_layout.twig" %}

{% block main_content %}

<div class="row">
    <div class="col-md-12">
        <h1>Change your password</h1>
    </div>
    <div class="col-md-12">
        <form method="post">
            <div class="mb-3">
                <label for="oldpassword" class="form-label">Old password</label>
                <input type="password" class="form-control" name="oldpassword" id="oldpassword" required="required">
            </div>
            <div class="mb-3">
                <label for="newpassword" class="form-label">New password</label>
                <input type="password" class="form-control" name="newpassword" id="newpassword" required="required">
            </div>
            <div class="mb-3">
                <label for="newpassword-verify" class="form-label">Verify new password</label>
                <input type="password" class="form-control" name="newpassword-verify" id="newpassword-verify" required="required">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-default" href="/account">Cancel</a>
        </form>
    </div>
</div>
<br/>

{% endblock %}