{% extends "_layout.twig" %}

{% block main_content %}

<div class="row">
        <div class="col-md-12">
            <h1>MVC framework</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">  
			<p>{{ text }}</p>
            <p>You can do anything, like <a href="/blog">manage your blog posts</a>, or <a href="/account">view your account details</a>.</p>
		</div>
	</div>
</div>

{% endblock main_content %}