<title>MVC framework</title>
<meta charset="UTF-8" />
<meta name="msapplication-config" content="none" />
<link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
<link href='/public/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
<link href='/public/css/bootstrap-overwrites.css' rel='stylesheet' type='text/css' />
<link href='/public/css/datepicker.css' rel='stylesheet' type='text/css' />
<link href='/public/css/selection.css' rel='stylesheet' type='text/css' />
<link href='/public/css/user.css' rel='stylesheet' type='text/css' />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" type='text/css' />

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/public/js/html5shiv.js"></script>
<script type="text/javascript" src="/public/js/respond.min.js"></script>
<script type="text/javascript" src="/public/js/autoNumeric.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/eyecon-bootstrap-datepicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>